.btn-primary {
    font-weight: 500;
    font-size: 16px;
    color: #FFC963;
    background: #00275E;
    box-shadow: 0px 10px 20px rgba(134, 142, 150, 0.3);
    border: 2px solid transparent;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;

    &:hover, &:active, &:focus {
        border: 2px solid #FFC963;
        color: #00275E;
        background: #FFC963;
    }
}

.btn-secondary {
    font-weight: 500;
    font-size: 16px;
    color: #00275E;
    background: transparent;
    box-shadow: 0px 10px 20px rgba(134, 142, 150, 0.3);
    border: 2px solid #00275E;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;

    &:hover, &:active, &:focus {
        border: 2px solid  #FFC963;
        color:  #00275E;
        background: #FFC963;
    }
}