.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;

    &:hover {
        box-shadow: 6px 12px 36px 0px rgba(0, 0, 0, 0.1);
    }
  }