#navbar {
    background-color: #00275E;
    color: #FFC963;

    .navbar-light .navbar-brand {
        color: #FFC963;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #FFC963;

        &:hover {
            color: #ffffff;
        }         
    }
}