body {
  background-color: #E0D8EF;
  font-family: 'Poppins', 'sans-serif';
  color: #00275E;
}

.btn-primary {
  font-weight: 500;
  font-size: 16px;
  color: #FFC963;
  background: #00275E;
  -webkit-box-shadow: 0px 10px 20px rgba(134, 142, 150, 0.3);
          box-shadow: 0px 10px 20px rgba(134, 142, 150, 0.3);
  border: 2px solid transparent;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  border: 2px solid #FFC963;
  color: #00275E;
  background: #FFC963;
}

.btn-secondary {
  font-weight: 500;
  font-size: 16px;
  color: #00275E;
  background: transparent;
  -webkit-box-shadow: 0px 10px 20px rgba(134, 142, 150, 0.3);
          box-shadow: 0px 10px 20px rgba(134, 142, 150, 0.3);
  border: 2px solid #00275E;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  border: 2px solid  #FFC963;
  color: #00275E;
  background: #FFC963;
}

#navbar {
  background-color: #00275E;
  color: #FFC963;
}

#navbar .navbar-light .navbar-brand {
  color: #FFC963;
}

#navbar .navbar-light .navbar-nav .nav-link {
  color: #FFC963;
}

#navbar .navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
}

.card:hover {
  -webkit-box-shadow: 6px 12px 36px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 12px 36px 0px rgba(0, 0, 0, 0.1);
}

.product {
  margin-right: 120px;
  margin-left: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
}
/*# sourceMappingURL=style.css.map */